.body-info-nav
  .body-info-nav-item.active
    = link_to 'производство', 'info_production.html'
  .body-info-nav-item
    = link_to 'документация', 'info_doc.html'
  .body-info-nav-item
    = link_to 'статьи', 'info_article.html'
  .body-info-nav-item
    = link_to 'реклама', 'reklama.html'
  .body-info-nav-item
    = link_to 'гарантии', 'warranty.html'