---
title: 1920_1080_5.jpg
body_class: welcome
---
.container
  .content
    .row-fluid
      .span2
        = link_to '/' do
          .logotip
        .logo-text
          .logo-text-yellow
            жаркий
          .logo-text-white
            радиатор
        .widget-advantage
          .widget-advantage-title
            Биметалические радиаторы
          .widget-advantage-block
            .widget-advantage-item
              .widget-advantage-image1
              .widget-advantage-item-text
                Преимущество 1
            .widget-advantage-item
              .widget-advantage-image2
              .widget-advantage-item-text
                Преимущество 2
            .widget-advantage-item
              .widget-advantage-image3
              .widget-advantage-item-text
                Преимущество 3
            .widget-advantage-item
              .widget-advantage-image4
              .widget-advantage-item-text
                Преимущество 4
            .widget-advantage-item
              .widget-advantage-image5
              .widget-advantage-item-text
                Преимущество 5
      .span10
        = partial 'navigation'
        .welcome-body
          .welcome-body-widget-podbor
            .bottom-arrow
            .widget-podbor-image
            .widget-podbor-title
              подобрать
            .widget-podbor-subtitle
              радиатор
            .widget-podbor-desc
              Воспользуйтесь возможностью выбора радиатора конкретно под ваши задачи
            .widget-podbor-send
              = link_to 'подобрать', 'podbor.html', class: 'btn'
          .welcome-body-widget-contact
            .bottom-arrow
            = link_to '/' do
              .widget-contact-image
          .welcome-warranty-block-image
            .ten-warranty-block
              .ten-warranty
              Гарантия производителя
            .rosno-alianz-block
              .rosno-alianz
              Все радиаторы застрахованы
    = partial 'footer'