---
title: torido_info3.jpg
body_class: main
---
.container
  .content
    .row-fluid
      .span2.site-block-sp2
        = partial 'left_column'
      .span10.site-block-sp10
        = partial 'navigation'
        .body-info
          = partial 'body_info_menu'
          .body-info-content
            .row-fluid
              .span12.body-info-content-blocks
                .block-scroll.j-scroll-block
                  .scrollbar
                    .track
                      .thumb
                  .viewport
                    .overview
                      .info-article-block
                        .info-article-block-image
                          %img{ src: 'images/radiator1.png' }
                        .info-article-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-article-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                        .info-article-block-link
                          %span>>>
                          = link_to 'Читать далее', '/'
                      .info-article-block
                        .info-article-block-image
                          %img{ src: 'images/radiator2.png' }
                        .info-article-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-article-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                        .info-article-block-link
                          %span>>>
                          = link_to 'Читать далее', '/'
                      .info-article-block
                        .info-article-block-image
                          %img{ src: 'images/radiator3.png' }
                        .info-article-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-article-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                        .info-article-block-link
                          %span>>>
                          = link_to 'Читать далее', '/'
                      .info-article-block
                        .info-article-block-image
                          %img{ src: 'images/radiator1.png' }
                        .info-article-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-article-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                        .info-article-block-link
                          %span>>>
                          = link_to 'Читать далее', '/'
                      .info-article-block
                        .info-article-block-image
                          %img{ src: 'images/radiator2.png' }
                        .info-article-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-article-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                        .info-article-block-link
                          %span>>>
                          = link_to 'Читать далее', '/'
                      .info-article-block
                        .info-article-block-image
                          %img{ src: 'images/radiator3.png' }
                        .info-article-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-article-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                        .info-article-block-link
                          %span>>>
                          = link_to 'Читать далее', '/'
                      .info-article-block
                        .info-article-block-image
                          %img{ src: 'images/radiator1.png' }
                        .info-article-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-article-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                        .info-article-block-link
                          %span>>>
                          = link_to 'Читать далее', '/'
    = partial 'footer'