---
title: torido_news.jpg
body_class: main
---
.container
  .content
    .row-fluid
      .span2.site-block-sp2
        = partial 'left_column'
      .span10.site-block-sp10
        = partial 'navigation'
        .body-info
          .body-info-content
            .row-fluid
              .span12.body-info-content-blocks
                .block-scroll.j-scroll-block
                  .scrollbar
                    .track
                      .thumb
                  .viewport
                    .overview
                      .news-block
                        = link_to '/' do
                          .news-block-image
                            %img{ src: 'http://am111.ru/im_admin/images/upload/5e8f8346cb3daf7e02713613efa37642.jpg' }
                        .news-block-date
                          06.12.13
                        .news-block-title
                          = link_to '/' do
                            Сертификато соответсвия на аллюминиевые райдиаторы
                        .news-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                      .news-block
                        = link_to '/' do
                          .news-block-image
                            %img{ src: 'http://am111.ru/im_admin/images/upload/5e8f8346cb3daf7e02713613efa37642.jpg' }
                        .news-block-date
                          06.12.13
                        .news-block-title
                          = link_to '/' do
                            Сертификато соответсвия на аллюминиевые райдиаторы
                        .news-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                      .news-block
                        = link_to '/' do
                          .news-block-image
                            %img{ src: 'http://am111.ru/im_admin/images/upload/5e8f8346cb3daf7e02713613efa37642.jpg' }
                        .news-block-date
                          06.12.13
                        .news-block-title
                          = link_to '/' do
                            Сертификато соответсвия на аллюминиевые райдиаторы
                        .news-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                      .news-block
                        = link_to '/' do
                          .news-block-image
                            %img{ src: 'http://am111.ru/im_admin/images/upload/5e8f8346cb3daf7e02713613efa37642.jpg' }
                        .news-block-date
                          06.12.13
                        .news-block-title
                          = link_to '/' do
                            Сертификато соответсвия на аллюминиевые райдиаторы
                        .news-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                      .news-block
                        = link_to '/' do
                          .news-block-image
                            %img{ src: 'http://am111.ru/im_admin/images/upload/5e8f8346cb3daf7e02713613efa37642.jpg' }
                        .news-block-date
                          06.12.13
                        .news-block-title
                          = link_to '/' do
                            Сертификато соответсвия на аллюминиевые райдиаторы
                        .news-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                      .news-block
                        = link_to '/' do
                          .news-block-image
                            %img{ src: 'http://am111.ru/im_admin/images/upload/5e8f8346cb3daf7e02713613efa37642.jpg' }
                        .news-block-date
                          06.12.13
                        .news-block-title
                          = link_to '/' do
                            Сертификато соответсвия на аллюминиевые райдиаторы
                        .news-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
    = partial 'footer'