---
title: torido_products.jpg
body_class: main
---
.container
  .content
    .row-fluid
      .span2.site-block-sp2
        = partial 'left_column'
      .span10.site-block-sp10
        = partial 'navigation'
        .body-info
          .body-info-content
            .row-fluid
              .span12.body-info-content-blocks
                .block-scroll.j-scroll-block
                  .scrollbar
                    .track
                      .thumb
                  .viewport
                    .overview
                      .products-block
                        .products-block-image
                          = link_to 'product.html' do
                            %img{ src: 'http://am111.ru/im_admin/images/upload/5e8f8346cb3daf7e02713613efa37642.jpg' }
                          .plant-small
                          .snowflake-small
                          .like-small
                          .warranty-small
                          .toprated-small
                        .products-block-title
                          = link_to 'product.html' do
                            Сертификат соответсвия на аллюминиевые райдиаторы
                        .products-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                        .products-block-link
                          %span>>>
                          = link_to 'модели', 'product.html'
                      .products-block
                        .products-block-image
                          = link_to 'product.html' do
                            %img{ src: 'http://am111.ru/im_admin/images/upload/5e8f8346cb3daf7e02713613efa37642.jpg' }
                          .plant-small
                          .snowflake-small
                          .like-small
                          .warranty-small
                          .toprated-small
                        .products-block-title
                          = link_to 'product.html' do
                            Сертификат соответсвия на аллюминиевые райдиаторы
                        .products-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                        .products-block-link
                          %span>>>
                          = link_to 'модели', 'product.html'
                      .products-block
                        .products-block-image
                          = link_to 'product.html' do
                            %img{ src: 'http://am111.ru/im_admin/images/upload/5e8f8346cb3daf7e02713613efa37642.jpg' }
                          .plant-small
                          .snowflake-small
                          .like-small
                          .warranty-small
                          .toprated-small
                        .products-block-title
                          = link_to 'product.html' do
                            Сертификат соответсвия на аллюминиевые райдиаторы
                        .products-block-desc
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                          К тому же, производителям миниатюрных мобильных устройств (например, Apple) больше не придётся решать проблему, как вместить в них SIM-карту.
                        .products-block-link
                          %span>>>
                          = link_to 'модели', 'product.html'


    = partial 'footer'